# Data Preparation

In this notebook we preapare data for our search function.
In this we have one csv file.
* bloodtypes.csv

In [1]:
# Import the needed  modules...
import pandas as pd
import numpy as np

# Define Path to Data File

In [2]:
# we get the path at which our file bloodtypes.csv is stored.
from os import getcwd
path = f"{getcwd()}/Data Store/bloodtypes2.csv"

In [3]:
path

'C:\\Users\\Mukul Agarawal\\Desktop\\JOVAC/Data Store/bloodtypes2.csv'

# Data Engineering

* Get data in the dataframes

In [4]:
# Read data from bloodtypes.csv

blood_group = pd.read_csv(path)

In [5]:
# Display bloodgroup.csv file data

blood_group

,Unnamed: 0,Country,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,0,Argentina,"4,42,70,440",45.40%,34.26%,8.59%,2.64%,8.40%,0.44%,0.21%,0.06%
1,1,Armenia,"29,31,568",29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
2,2,Australia,"2,46,42,693",40.00%,31.00%,8.00%,2.00%,9.00%,7.00%,2.00%,1.00%
3,3,Austria,"85,92,470",30.00%,33.00%,12.00%,6.00%,7.00%,8.00%,3.00%,1.00%
4,4,Bangladesh,"16,48,33,667",31.18%,21.44%,34.58%,8.85%,1.39%,0.96%,0.96%,0.64%
...,...,...,...,...,...,...,...,...,...,...,...
75,75,Unitedkingdom,"4,44,04,078",32.00%,34.00%,15.00%,5.00%,5.00%,6.00%,2.00%,1.00%
76,76,Venezuela,"3,20,11,082",58.50%,28.30%,5.30%,1.80%,3.50%,1.70%,0.70%,0.20%
77,77,Vietnam,"9,54,14,640",41.70%,21.90%,30.80%,4.98%,0.30%,0.10%,0.20%,0.02%
78,78,Zimbabwe,"1,66,42,880",63.30%,18.50%,14.60%,0.99%,1.70%,0.50%,0.40%,0.01%
79,79,Mundo,"6,63,52,81,257",38.67%,27.42%,22.02%,5.88%,2.55%,1.99%,1.11%,0.36%

In [6]:
# Here I drop the Unnamed column in our blood_group data frame

blood_group = blood_group.drop(['Unnamed: 0'],axis=1)
blood_group.head(15)

,Country,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,Argentina,"4,42,70,440",45.40%,34.26%,8.59%,2.64%,8.40%,0.44%,0.21%,0.06%
1,Armenia,"29,31,568",29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
2,Australia,"2,46,42,693",40.00%,31.00%,8.00%,2.00%,9.00%,7.00%,2.00%,1.00%
3,Austria,"85,92,470",30.00%,33.00%,12.00%,6.00%,7.00%,8.00%,3.00%,1.00%
4,Bangladesh,"16,48,33,667",31.18%,21.44%,34.58%,8.85%,1.39%,0.96%,0.96%,0.64%
5,Bolivia,"1,10,53,376",51.53%,29.45%,10.11%,1.15%,4.39%,2.73%,0.54%,0.10%
6,Brazil,"21,12,48,418",36.00%,34.00%,8.00%,2.50%,9.00%,8.00%,2.00%,0.50%
7,Bulgaria,"70,45,097",28.00%,37.00%,13.00%,7.00%,5.00%,7.00%,2.00%,1.00%
8,Camboja,"1,60,77,172",46.70%,27.20%,18.50%,4.90%,1.30%,0.80%,0.50%,0.10%
9,Canada,"3,66,27,140",39.00%,36.00%,7.60%,2.50%,7.00%,6.00%,1.40%,0.50%
10,Chile,"1,83,14,060",85.50%,8.70%,3.35%,1.00%,1.20%,0.10%,0.05%,0.10%
11,China,"1,38,82,51,023",47.70%,27.80%,18.90%,5.00%,0.28%,0.19%,0.10%,0.03%
12,Colombia,"4,90,69,267",61.30%,26.11%,2.28%,1.47%,5.13%,2.70%,0.70%,0.31%
13,Croatia,"42,07,355",29.00%,36.00%,15.00%,5.00%,5.00%,6.00%,3.00%,1.00%
14,Cuba,"1,14,86,750",45.80%,33.50%,10.20%,2.90%,3.60%,2.80%,1.00%,0.20%

In [7]:
# Make country as an index column having discrete country name.

blood_group.set_index('Country', inplace=True)
blood_group

,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
Country,,,,,,,,,
Argentina,"4,42,70,440",45.40%,34.26%,8.59%,2.64%,8.40%,0.44%,0.21%,0.06%
Armenia,"29,31,568",29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
Australia,"2,46,42,693",40.00%,31.00%,8.00%,2.00%,9.00%,7.00%,2.00%,1.00%
Austria,"85,92,470",30.00%,33.00%,12.00%,6.00%,7.00%,8.00%,3.00%,1.00%
Bangladesh,"16,48,33,667",31.18%,21.44%,34.58%,8.85%,1.39%,0.96%,0.96%,0.64%
...,...,...,...,...,...,...,...,...,...
Unitedkingdom,"4,44,04,078",32.00%,34.00%,15.00%,5.00%,5.00%,6.00%,2.00%,1.00%
Venezuela,"3,20,11,082",58.50%,28.30%,5.30%,1.80%,3.50%,1.70%,0.70%,0.20%
Vietnam,"9,54,14,640",41.70%,21.90%,30.80%,4.98%,0.30%,0.10%,0.20%,0.02%
Zimbabwe,"1,66,42,880",63.30%,18.50%,14.60%,0.99%,1.70%,0.50%,0.40%,0.01%
Mundo,"6,63,52,81,257",38.67%,27.42%,22.02%,5.88%,2.55%,1.99%,1.11%,0.36%

In [8]:
# In this way we get complete infornmation of any country. 

blood_group.loc['Argentina']

Population    4,42,70,440
O+                 45.40%
A+                 34.26%
B+                  8.59%
AB+                 2.64%
O-                  8.40%
A-                  0.44%
B-                  0.21%
AB-                 0.06%
Name: Argentina, dtype: object

In [9]:
# Index of series having column name

blood_group.keys()

Index(['Population', 'O+', 'A+', 'B+', 'AB+', 'O-', 'A-', 'B-', 'AB-'], dtype='object')

In [10]:
# It provide the information how many column are filled without not null value and display its data type.

blood_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, Argentina to Mundo
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  80 non-null     object
 1   O+          80 non-null     object
 2   A+          80 non-null     object
 3   B+          80 non-null     object
 4   AB+         80 non-null     object
 5   O-          80 non-null     object
 6   A-          80 non-null     object
 7   B-          80 non-null     object
 8   AB-         80 non-null     object
dtypes: object(9)
memory usage: 8.3+ KB